figure {
	margin: 5em auto;
	width: 350px;
	height: 150px;
}

.weather_icon {
	/** border: darkgray dotted thin; **/
	vertical-align: middle;
}

body {
	margin-top: 20px;
}

.widget .panel, .widget.panel {
	overflow: hidden;
}

.widget {
	margin-bottom: 20px;
	border: 0;
}

.bg-danger {
	background-color: #f05050;
	color: #fff !important;
}

.bg-info {
	background-color: #23b7e5;
	color: #fff !important;
}

.bg-primary {
	background-color: #5d9cec;
	color: #fff !important;
}

.border-gray {
	border: 5px solid lightgray;
}

.text-medium {
	font-size: 1.25em;
}
