<!DOCTYPE html>
<html>
<head lang="en">

<title>Weather App</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

		<!-- Main component for a primary marketing message or call to action -->

			<div class="bootstrap snippet" th:if="${not #lists.isEmpty(currentStationWeatherList)}">
				<div class="col-md-6"
					th:each="current : ${currentStationWeatherList}">
					<!-- START widget-->
					<div class="panel widget">
						<div
							th:class="${current.temperature > 20} ? 'panel-body bg-danger text-center' : 'panel-body bg-primary text-center'">
							<div class="clearfix">
								<div class="pull-left">
									<i class="fa fa-arrow-circle-down fa-lg"></i> <span
										th:text="${#numbers.formatDecimal(current.minTemperature,1,1)}"
										class="text-medium">-</span> <span>&nbsp;</span> <i
										class="fa fa-arrow-circle-up fa-lg"></i> <span
										th:text="${#numbers.formatDecimal(current.maxTemperature,1,1)}"
										class="text-medium">-</span>
								</div>
								<div class="pull-right">
									<i class="fa fa-percent fa-lg"></i> <span
										th:text="${current.humidity}" class="text-medium">-</span>
								</div>
							</div>
							<span th:if="${current.stationId != 'first'}">
								<canvas id="d" width="64" height="64" class="weather_icon"></canvas>
							</span> <span th:if="${current.stationId == 'first'}"> <img
								th:src="@{/images/spezialmann-avatar.png}"
								src="../images/spezialmann-avatar.png" alt="Image" width="64"
								class="img-thumbnail img-circle thumb96 border-gray" />
							</span>

							<h2 class="mt0">
								<span
									th:text="${#numbers.formatDecimal(current.temperature,1,1)}"
									class="text-medium">-</span><span class="text-medium">°</span>
							</h2>
							<div class="clearfix">
								<div class="pull-left">
									<i class="fa fa-paper-plane-o fa-lg"></i> <span
										th:if="${current.windspeedKmph != null}"> <span
										th:text="${#numbers.formatDecimal(current.windspeedKmph,1,1)}"
										class="text-medium">0</span>
									</span> <span th:if="${current.windspeedKmph == null}"
										class="text-medium">0,0</span>
								</div>
								<div class="pull-right">
									<i class="fa fa-umbrella fa-lg"></i> <span
										th:if="${current.precipMM != null}"> <span
										th:text="${#numbers.formatDecimal(current.precipMMSum, 1, 1)}"
										class="text-medium">0</span>
									</span> <span th:if="${current.precipMM == null}" class="text-medium">0,0</span>
								</div>
							</div>
						</div>
					</div>
					<!-- END widget-->
				</div>
				
				<div class="last-update">Last update: <span th:text="${lastUpdate}">last
					update</span></div>
				
			
		</div>





		<script type="text/javascript" th:inline="javascript">
		// <![CDATA[
			var icons = new Skycons({
				"color" : "white"
			});

			var stationCode = [[${currentStationWeather.weatherCode}]];
			icons.set("d", weatherCodes[stationCode]);

			icons.play();
						
			// ]]>
		</script>

	</div>
</body>
</html>