<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Weather App</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<div th:if="${not #lists.isEmpty(locations)}">
			<h2>Location List</h2>
			<table class="table table-striped">
				<tr>					
					<th>Location Name</th>
					<th>Current weather</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
				<tr th:each="location : ${locations}">
					<td th:text="${location.locationName}">Location Name</td>
					<td >
						<canvas th:id="${'icon_' + location.locationId}" width="24"
							height="24" class="weather_icon"></canvas>
						<span th:id="${'tempC_' + location.locationId}">Current weather</span>
					</td>
					<td><a th:href="${'/location/edit/' + location.locationId}">Edit</a></td>
					<td><a th:href="${'/location/delete/' + location.locationId}">Delete</a></td>
				</tr>
			</table>

		</div>
	</div>

	<script type="text/javascript" th:inline="javascript">
		// <![CDATA[ 
		            
		//init icons
		var icons = new Skycons( {"color":"blue"} );

		//callback weather data
		function weather(v, i, ar) {
			$.ajax({
				url : 		"/showcurrent",
				data : 		{ location : '' + v },
				error : 	function() { $('#tempC_' + v).html('n. a.');	},
				dataType : 	'json',
				type : 		'GET',
				success : 	function(data) {
								$('#tempC_' + v).html(data.tempC + ' °C ');
								icons.set("icon_" + v, weatherCodes[data.weatherCode]);
							}
			});
		}

		//for all locations load weather data
		var myLocations = /*[[${locations.![locationId]}]]*/[];
		for (var i = 0; i < myLocations.length; i++) {
			weather(myLocations[i]);
		}
		//start icon animation
		icons.play();

		// ]]>
	</script>

</body>
</html>
