<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Weather App</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<div th:if="${not #lists.isEmpty(locations)}">
			<h2>Location List</h2>
			<table class="table table-striped">
				<tr>
					<th>Location Id</th>
					<th>Location Name</th>
					<th>Latitude</th>
					<th>Longitude</th>
					<th>Current weather</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
				<tr th:each="location : ${locations}">
					<td th:text="${location.locationId}"><a
						href="/location/${locationId}">Id</a></td>
					<td th:text="${location.locationName}">Location Name</td>
					<td th:text="${location.latitude}">LATIDUE</td>
					<td th:text="${location.longitude}">LONGITUDE</td>
					<td >
						<canvas th:id="${'icon_' + location.locationId}" width="16"
							height="16" class="weather_icon"></canvas>
						<span th:id="${'tempC_' + location.locationId}">Current weather</span>
					</td>
					<td><a th:href="${'/location/edit/' + location.locationId}">Edit</a></td>
					<td><a th:href="${'/location/delete/' + location.locationId}">Delete</a></td>
				</tr>
			</table>

		</div>
	</div>

	<script type="text/javascript" th:inline="javascript">
		// <![CDATA[ 
		            
		//init icons
		var icons = new Skycons({
			"color" : "pink"
		});

		//callback weather data
		function weather(v, i, ar) {
			$.ajax({
				url : "/showcurrent",
				data : {
					location : '' + v
				},
				error : function() {
					$('#tempC_' + v).html('<p>n. a.</p>');
				},
				dataType : 'json',
				success : function(data) {
					var $title = $('<span />').text(data.tempC);
					$title.append(' °C');
					$('#tempC_' + v).html($title);

					icons.set("icon_" + v, Skycons.CLEAR_DAY);

				},
				type : 'GET'
			});

		}

		//for all locations load weather data
		var myLocations = /*[[${locations.![locationId]}]]*/[];
		for (var i = 0; i < myLocations.length; i++) {
			// do whatever 
			weather(myLocations[i]);
		}

		//icons.set("d_plus_1", Skycons.PARTLY_CLOUDY_DAY)
		//icons.set("d_plus_2", Skycons.WIND)

		//start icon animation
		icons.play();

		// ]]>
	</script>

</body>
</html>
