<!DOCTYPE html>
<html>
<head lang="en">

    <title>Weather App</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <h2>Rain Details</h2>
    <div id="container" style="width: 95%;">
        <canvas id="myChart"></canvas>
    </div>
</div>


<script th:inline="javascript">
/*<![CDATA[*/
var regenmengen = /*[[${rain}]]*/;

var categories = regenmengen.map(function(obj){
   return obj.hour;
});

var vals = regenmengen.map(function(obj){
   return (obj.dataValue * 10);
});

/*]]>*/

</script>


<script type="text/javascript">
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: categories,
        datasets: [{
            label: 'l/qm',
            data: vals,
            backgroundColor: "rgba(54, 162, 235, 0.2)",
            borderColor: "rgba(54, 162, 235, 1)",
            borderWidth: 1
        }]
    },
    options:{
    scales: {
      yAxes: [{
            display: true,
            ticks: {
                beginAtZero: true,
                stepValue: 5,
                max: 40
            }
        }]
    }
  }
});

</script>


</body>
</html>